.listItemComponent {
  position: absolute;
  height: 184px;
  width: auto;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  flex: 1;
  min-width: 0;
  user-select: none;
  cursor: pointer;
}
