@media (orientation: portrait) {
  .backimg {
    background-image: url("/assets/white-logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
  }
}
@media (orientation: landscape) {
  .backimg {
    background-image: url("/assets/white-logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 20px;
  }
}
.backcard {
  background-color: rgba(34, 36, 37, 0.8);
}
.cardHeader {
  opacity: 1;
  background-color: rgba(34, 36, 37, 0.8);
  height: 50px;
}
.cardBody {
  opacity: 1;
}
.cardFooter {
  opacity: 1;
  background-color: rgba(34, 36, 37, 0.8);
  height: 60px;
}
#btnSubmit {
  background-color: rgb(19, 105, 215);
}
